
body {
    font-size: 15px;
}
p {
    line-height: 1.62em;
    margin: 0 0 20px;
}
ul {
    margin: 20px 0 40px;
    padding: 0 0 0 20px;
}
ul li {
    margin: 0 0 10px;
}
a {
    transition: all 0.3s ease 0s;
}
img {
    max-width: 100%;
    width: auto;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin: 40px 0 20px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 12px;
}
::-webkit-input-placeholder {
   opacity: 1;
}
:-moz-placeholder {
   opacity: 1;
}
::-moz-placeholder {
   opacity: 1;
}
:-ms-input-placeholder {
   opacity: 1;
}