form {
  label {
    display: block;
    font-size: 1.2rem;
    input[type="radio"], input[type="checkbox"] {
      height: 20px;
      line-height: 20px;
      float: left;
      margin: 0 0.6rem 0 0;
    }
    span {
      height: 20px;
      line-height: 20px;
    }
  }
  input {
    margin: 0 0 1rem 0;
    &[type="text"], &[type="email"], &[type="number"] {
      padding: 1rem;
      width: 100%;
      font-size: 1.2rem;
    }
  }
  select {
    margin: 0 0 1rem 0;
  }
  textarea {
    padding: 1rem;
    min-height: 10rem;
    width: 100%;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }
}

.form {
  &__error {
    color: red;
    font-size: 1.2rem;
    margin: -0.5rem 0 1rem 0;
    display: block;
  }
}