.component__hours {
  margin: 0.5em 0;
  ul {
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 2rem 0 0;
      font-size: 1.2em;
      &:last-child {
        margin-right: 0;
      }
      svg {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}